.layout {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 1fr;
    grid-template-rows: auto 1fr ;
  }
  
  .book-list {
    grid-row: 2/3;
  }
  
  .toolbar {
    grid-row: 1;
    grid-column: 1 / 3;
  }
  
  .content {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: #0066ff;
    padding: 10px;
  }
  
  