.search {
  display: flex;
  align-items: center;
  width: 50%;
  border-right: 1px solid;

  .input-container {
    border: 2px solid rgb(118, 118, 118);
    display: flex;
    align-items: center;
    background: white;
    width: 100%;
    padding: 2px;

    input:focus {
        outline: none;
        box-shadow: none;
      }

    .clear-button{
        height: auto;
        background: white;
        border-radius: 0px;
        box-shadow: none;
    }
  
    
  }

  .input-search {
    width: 100%;
    border: none;
  }
}
